Repository flex-development/tsconfig-types: changes, and which lint-staged commands are due for each by the changed paths.
All: dprint check, eslint --exit-on-fatal-error, cspell lint --color --no-progress --relative $@, yarn typecheck --changed, yarn dedupe --check, yarn build, bash -c tsc -p tsconfig.build.json

.lintstagedrc.json:

{
  "*": [
    "dprint check",
    "eslint --exit-on-fatal-error",
    "cspell lint --color --no-progress --relative $@"
  ],
  "**/*.{cts,mts,ts}": "yarn typecheck --changed",
  "**/yarn.lock": "yarn dedupe --check",
  "src/**/*.ts": ["yarn build", "bash -c tsc -p tsconfig.build.json"]
}

docs: fix package install snippet
  README.md
Due: dprint check, eslint --exit-on-fatal-error, cspell lint --color --no-progress --relative $@

chore: use `.commitlintrc.ts`
  .commitlintrc.json
  .commitlintrc.ts
  CONTRIBUTING.md
  package.json
  yarn.lock
Due: dprint check, eslint --exit-on-fatal-error, cspell lint --color --no-progress --relative $@, yarn typecheck --changed, yarn dedupe --check

feat: `TsconfigJson`
  README.md
  src/index.mts
Due: dprint check, eslint --exit-on-fatal-error, cspell lint --color --no-progress --relative $@, yarn typecheck --changed

chore: drop `lint-staged`
  .dictionary.txt
  .husky/pre-commit
  package.json
  yarn.lock
Due: dprint check, eslint --exit-on-fatal-error, cspell lint --color --no-progress --relative $@, yarn dedupe --check

build(deps-dev): bump vitest from 2.1.3 to 2.1.4 in the vitest group
  package.json
  tsconfig.build.json
  tsconfig.json
  tsconfig.test.json
  tsconfig.typecheck.json
  yarn.lock
Due: dprint check, eslint --exit-on-fatal-error, cspell lint --color --no-progress --relative $@, yarn dedupe --check

fix: [`Tsconfig`] root fields
  src/__tests__/tsconfig.spec-d.mts
  src/tsconfig.mts
Due: dprint check, eslint --exit-on-fatal-error, cspell lint --color --no-progress --relative $@, yarn typecheck --changed
